body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh; 
  margin:0;
}

main {
  flex: 1 0 auto; /* allows the content to grow but not shrink */
}